.wrapper {
  border: 4px solid;
  width: 'fit-content';
  padding: 10px;
  margin: 10px;
}

.border-pink {
  border-color: pink;
}

.border-green {
  border-color: green;
}

.border-darkblue {
  border-color: darkblue;
}

.border-orange {
  border-color: orange;
}

/* form */
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  flex-shrink: 0;
  width: 120px;
  margin-right: 1rem;
}

.form-group input,
.form-group textarea {
  width: 200px;
}

.create-template-form button {
  align-self: flex-start;
}